<div class="skill-table">
  <div *ngFor="let skill of skills" class="skill-table-row">
      <div class="capitalize">{{skill}}</div>
      <skill-bar [value]="hero[skill]"></skill-bar>
  </div>
</div>
