@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue,300);
$my-app-accent:  mat-palette($mat-grey, 400);
$my-app-warn:    mat-palette($mat-amber);

$intech-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($intech-theme);

.mat-fab.mat-accent, .mat-fab.mat-primary, .mat-fab.mat-warn, .mat-mini-fab.mat-accent,
.mat-mini-fab.mat-primary, .mat-mini-fab.mat-warn, .mat-raised-button.mat-accent,
.mat-raised-button.mat-primary, .mat-raised-button.mat-warn {
    color: #fff;
}
