<div class="menu-bar">
    <input type="search" (keyup)="refreshFilter()" [(ngModel)]="searchText" placeholder="Seach..."/>
    <button class="add-hero" type="button" (click)="add()">+ Add</button>
</div>
