/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: #e9e9e9;
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
}

/***** Menubar *****/
.menu-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;

  > input[type="search"] {
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: 2px solid #FFA83A;
    }
  }

  > button.add-hero {
    background-color: #FFA83A;
    color: #fff;
    border: 0;
    box-shadow: 1px 2px 1px #C2802C;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 2px solid #FFF;
    }
  }
}

.menu-bar > input[type="search"], .menu-bar button.add-hero {
  margin: 0;
  height: 30px;
  font-size: 1.0em;
}

/**** Hero-list *****/
mat-grid-list {
  top: 50px;
  margin: 0 10px;
}

.light-description {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  cursor: pointer;

  > mat-card-content {
    padding: 0.8em;
  }

  > mat-card-header {
    background-size: cover;
    background-position: 0 25%;
    height: 8em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    &.team {
      height: 3.5em;
    }

    > h2 {
      display: block;
      margin: 5px;;
      padding: 0.2em;
      color: #fff;
      border-radius: 0.6em;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.teamMemberAtrue {
  box-shadow: 0px 5px 4px rgba(221, 11, 11, 0.5);
}

.teamMemberBtrue {
  box-shadow: 0px 5px 4px rgba(25, 36, 190, 0.5);
}

/********* Hero-detail **************/
.button-toolbar {
  width: 100%;
  position: relative;

  button.modal-close {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    line-height: .3em;
    margin: 0.3em;
    background: none;
    border: 0;
    font-size: 1.8em;
    opacity: .5;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
  button.update-hero, button.go-home {
    color: #fff;
    border: 0;
    display: inline-block;
    background-color: #19A3FF;
    -webkit-box-shadow: 1px 2px 1px #137DC4;
    box-shadow: 1px 2px 1px #137DC4;
    padding: 0.4em;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.full-description {
  margin: 6em 0;

  h2 {
    margin: 2em 0 0 0;
    text-align: center;
  }
  > header {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .full-description-header-column {
      display: flex;
      align-items: center;
      padding: 2.3em;
    }

    > .full-description-avatar {
      width: 14em;
      height: 14em;
      background-size: cover;
      border-radius: 50%;
      transform: scale(1.25);
    }
  }
  &.good > header {
    > .full-description-avatar {
      background-color: #19A3FF;
      border: 2em solid #19A3FF;
    }
    > .full-description-header-column {
      background-color: #19A3FF;
    }
  }
  &.bad > header {
    > .full-description-header-column {
      background-color: #FF2320;
    }
    > .full-description-avatar {
      background-color: #FF2320;
      border: 2em solid #FF2320;
    }
  }

  > .full-description-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    > .full-description-details-column {
      // flex: 1 100%;
      margin: 2em;
      line-height: 1.5em;
    }
  }
}

@media only screen and (min-width: 1064px) {
  .full-description > .full-description-details {
      flex-direction: row;
  }
}

@media only screen and (min-width: 667px) {
  .full-description > header {
      flex-direction: row;
  }

  .full-description > header > .full-description-header-column {
      min-height: 64px;
      width: 120px;
  }
}

/*********** Skills-Table **********/
.skill-table {
  .capitalize {
    text-transform: capitalize;
  }
  > .skill-table-row {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 667px) {
  .skill-table > .skill-table-row  {
      flex-direction: row;
  }
}

/*********** Skill-bar **********/
.bar-container {
  margin: 0 0.8em;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  min-width: 60vw;
  border: 0.01em solid rgba(0, 0, 0, 0.3);

  > .bar {
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    background-color: #19A3FF;
  }
  > .bar.bar-full {
    background-color: #FF2320;
  }
}

@media only screen and (min-width: 1064px) {
  .bar-container {
      min-width: 30vw;
  }
}

/*********** Hero Form *************/
form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;

  > main {
    width: 100%;

    > .hero-input {
      margin: 1em;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      -ms-flex-direction: row;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;

      > label {
        margin: 0 0.8em;
      }

      > input {
        padding: .4em;
        min-height: 1.8em;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }
    }
  }

  > header {
    background-color: #19A3FF;
    color: #fff;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  > footer {
    padding: 1.4em;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: end;
    justify-content: flex-end;

    > button {
      margin: 0 .8em;
      font-size: 1.2em;
      padding: .4em;
      color: #fff;
      border: 0;
      cursor: pointer;

      &[type=submit] {
        background-color: #19A3FF;
        -webkit-box-shadow: 1px 2px 1px #137DC4;
        box-shadow: 1px 2px 1px #137DC4;
      }
      &[type=button] {
        background-color: #FFA83A;
        -webkit-box-shadow: 1px 2px 1px #C2802C;
        box-shadow: 1px 2px 1px #C2802C;
      }
    }
  }
}

.mat-form-field {
  width:  100%;
}
